
/* body {
    padding: 0; 
    margin: 0; 
    box-sizing: border-box;
    background-color: #EDF5FC;
    display: flex;
    justify-content: center;
    align-items: center;
} */

.textAboutUs {
    width: 100%;
    margin: 0 0 10px;
}

.textAroundImage {
    color: #000;
    font-family: sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
}

h3 {
    color: #000;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-weight: bold;
    line-height: normal;
}

.aboutUsContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 20px;
    width: 60%;
    padding: 50px;
    margin: 20px;
}
