.dashboardContainer {
    display: flex;
    width:100%;
}
 
.sidebar{
    height: 200vh;
    width: 80px;
    background-color: #0155B7;
    padding: 4px 8px;
    transition: all 0.5s ease;
}
 
.sidebar.active .main-content{
    left: 250px;
    width: calc(100% - 250px);
}
 
.sidebar.active{
    width: 250px;
}

.sidebar .top{
    display: flex;
    justify-content: center;
    align-items: center;
}
 
.sidebar #btn{
    color: white;
    font-size: 1.2rem;
    line-height: 50px;
    cursor: pointer;
}
 
.sidebar.active #btn{
    left: 90%;
}
.sidebar .top .logoCtn{
    display: none;
}
 
.sidebar .top .logo{
    color: white;
    display: flex;
    height: 50px;
    width: 100%;
    align-items: center;
    pointer-events: none;
}
 
.sidebar.active .top{
    display: flex;
    justify-content: space-between;
}

.sidebar.active .top .logoCtn{
    display: block;
}
 
.top.logo img{
    margin-right: 5px;
}

.sidebar ul{
    display: flex;
    flex-direction: column;
    align-items: center;
}
 
.sidebar ul li{
    position: relative;
    list-style-type: none;
    display: flex;
    align-items: center;
    height: 50px;
    width: 100%;
    margin: 8px auto;
    line-height: 50px;
}
 
.sidebar ul li a{
    color: white;
    display: flex;
    align-items: center;
    text-decoration: none;
    border-radius: 0.8rem;
    width: 100%;
}
 
.sidebar ul li a .bx:hover{
    background-color: #EDF5FC;
    color: black;
}

.sidebar.active ul li a:hover{
    background-color: #EDF5FC;
    color: black;
}
 
.sidebar ul li a i{
    min-width: 50px;
    text-align: center;
    height: 50px;
    border-radius: 12px;
    line-height: 50px;
}
 
.sidebar .nav-item{
    opacity: 0;
}
 
.sidebar.active .nav-item{
    opacity: 1;
}
 
.sidebar ul li .tooltip{
    position: absolute;
    left: 100px;
    top: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 6px 10px;
    line-height: 25px;
    z-index: 0;
    display: none;
    background-color: #fff;
}
 
.sidebar ul li:hover .tooltip{
    display: block;
}
 
.sidebar.active ul li .tooltip{
    display: none;
}
 
.content-view{
    width: 100%;
}
 
.container5{
    display: flex; 
    justify-content: space-between;
    align-items: center;
    padding-block: 2px;
    border-bottom: 1px solid black;
    width: 100%;
    background-color: #EDF5FC;
}

.container5 span img{
    display: flex;
}

.container5 div.notification{
    display: flex;
    justify-content: right;
    padding-inline: 5px;
    width: 20%;

}
 
.container5 a{
    color: black;
    border-radius: 0.8rem;
 
}
 
.container5 .tooltip{
    position: absolute;
    right: 150px;
    top: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 6px 19px;
    line-height: 29px;
    z-index: 200;
    opacity: 0;
}